.month_header{
    text-align: center;
    border: 1px dashed #9c9c9c;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

#calendario{
    display: flex;
    min-width: -webkit-fill-available;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.calendario_container{
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(var(--columns),15rem);
    gap: 2rem;
    padding: 2rem;
}

.calendar_form{
    align-self: center;
    padding: 2rem;
    background-color: #f0f0f0;
}

.month{
    min-width: 10.5rem;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

thead {
    background-color: black;
    color: aliceblue;
}

td, th{
    border: 1px dashed#b6b6b6;
    height: 1.5rem;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto min-content;
    font-family: 'Roboto', sans-serif;
}

label, input {
    display: block;
}

label {
    margin-bottom: 5px;
}

form > *{
    margin-bottom: 10px;
    display: block;
}